{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head id="backgroundtest">
      <script>
//Array of images which you want to show: Use path you want.
var images=new Array("{% static "images/foto06.jpg" %}");
var nextimage=0;
doSlideshow();

function doSlideshow(){
    if(nextimage>=images.length){nextimage=0;}
    $('.global-header')
    .css('background-image','url("'+images[nextimage++]+'")')
    .fadeIn(500,function(){
        setTimeout(doSlideshow,1000);
    });
}
</script>
      <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">

    <!-- Optional theme -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
      <link rel="template" href="{% static "css/cover.css" %}">

      <link rel="import" href="{% static "images/foto01.jpg" %}">
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="Team database en interface" content="">
    <link rel="icon" href="{% static "images/icoon.png" %}">

    <title>Welcome to our site</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{%  static "css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/cover.css" %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "js/ie-emulation-modes-warning.js" %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body  >

    <link rel="stylesheet" type="css" href="{% static "css/cover.css" %}" />


    <div class="site-wrapper">


      <div class="site-wrapper-inner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">









        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">

              <h3 class="masthead-brand">ESAT4A1</h3>

              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Learn more</a></li>
                  <li><a href="#" onclick=location.href='{% url 'Contact_page' %}'>Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">

            <h1 class="cover-heading">Welcome to our brand new site</h1>

            <p class="lead">Discover anything about our smart energy houses project</p>

            <p class="lead">
              <a  class="btn btn-lg btn-default" href="{% url 'User_homepage' %}">Interface</a>
                <a class="btn btn-lg btn-default" href='{% url 'Demo_homepage' %}'>Demonstrator</a>

            </p>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>


          </div>






        </div>
</div>
      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
