



{% extends "neighbourhood/usertemplate.html" %}


{% block title %}Slimme energiewoningen | Huis {{ house.id }}{% endblock %}

{% block topheader %}Welkom bij Huis {{ house.id }}{% endblock %}


{% block topheader_content %}
    Mijn kamers zijn:
    <ul>
{#    <li> <a href="/neighbourhood/models"> models</a></li>#}
        {% for room in house.room_set.all %}
{#    {% for room in House.objects.all %}#}
{#        <li><a href="{% url "Room" room.id %}">{{ room.name }}</a></li>#}
            <h1> {{ room.name }}</h1>
    {% endfor %}
    </ul>
{% endblock %}

