{% extends "neighbourhood/usertemplate.html" %}
{% load static %}

{% block title %} Slimme energiewoningen | {{ house.name}}{% endblock %}

{% block topheader %} Welkom bij Huis {{ house.id }}{% endblock %}


{% block topheader_content %}
    Mijn kamers zijn:
    <ul>


{#    <li> <a href="/neighbourhood/models"> models</a></li>#}
        {% for room in house.room_set.all %}
{#    {% for room in House.objects.all %}#}
   <li><a href="{% url "Room" room.id %}">{{ room.name }}</a></li>
{#            <h3> {{ room.name }}</h3>#}
    {% endfor %}

    </ul>
{% endblock %}


{% block left_col %}

<div class="col-md-4">
  <h2>Energieverbruik</h2>
  <canvas id="energy_house" width="400" height="400"></canvas>
</div>

    <script>
var ctx = document.getElementById("energy_house");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

    </script>
{% endblock %}




{% block middle_col %}

    <div class="col-md-4">
        <h2> Kosten per kwartier </h2>

    <canvas id="secondPlot" width="200" height="200" ></canvas>
    </div>

{% endblock %}




{% block right_col %}
    <div class="col-md-4">
        <h2>Totale kostprijs</h2>
        <p>Hier komen twee counters die vertelen hoeveel men door een geoptimaliseerd energiegebruik kan besparen en hoeveel de totale kosten zijn.  </p>


        <p><a class="btn btn-default" href="#" role="button">Meer details &raquo;</a></p>
    </div>
{% endblock %}

{%  block custom_js %}

  <script>
      var max = 0;
    var steps = 10;
    var chartData = {}

function respondCanvas() {
    var c = $('#secondPlot');
    var ctx = c.get(0).getContext("2d");
    var container = c.parent();

    var $container = $(container);

    c.attr('width', $container.width()); //max width

    c.attr('height', $container.height()); //max height

    //Call a function to redraw other content (texts, images etc)
    var chart = new Chart(c, {
        type: 'line',
        data: chartData,
        options: {
            scales: {
                yAxes: [{
                    type: 'linear',
                    position: 'left'
                }],
                xAxes: [{
                    type: 'time',
                    time: {

                        unit: 'hour'

                    },
                    position: 'bottom'
                }]
            },
            title: {
                display: true,
                text: 'Energieverbruik per kwartier'
            }
        }
    });
    }

var GetChartData = function () {
    $.ajax({
        url: '{%  url 'Chartdata' house.id %}',
        method: 'GET',
        dataType: 'json',
        success: function (d) {
           chartData = {
                //labels: d.AxisLabels,
                datasets: [
                    {   label: 'verbruik',
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        fillColor: "rgba(220,220,220,0.5)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        data: d.timeseries
                    }
                ]
            };

            max = Math.max.apply(Math, d.timeseries);
            steps = 10;

            respondCanvas();
        }
    });
};

$(document).ready(function() {
    $(window).resize(respondCanvas);

    GetChartData();
});


</script>
{%  endblock %}




{% block showalldevices %}











    <div class="row">
    {% for room in house.room_set.all %}

        <div id="cont" class="container">


        <h3>{{ room.name }}</h3>

        <ul>













<div class="col-md-4">
<h3 >Slimme Apparaten</h3>

{% for device in room.smart_devices_set.all %}

    <h4 id="vspace">{{ device.name }}</h4>







    {% if device.name == "Wasmachine" %}
        <img id="afbeelding"  src='{% static 'images/devices/wasmachine.jpg' %}' alt="Wasmachine">
    {% endif %}
 {% if device.name == "Laadpaal" %}
        <img id="afbeelding"  src='{% static 'images/devices/laadpaal.jpg' %}' alt="Laadpaal">
    {% endif %}







<div id="cont1" class="row">
 <button id="knop" type="button"  class="btn btn-sm btn-success"  href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet aan</button>
    <button id="knop" type="button" class="btn btn-sm btn-danger" href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet uit</button>
</div>
{% endfor %}



</div>
</ul>
        <ul>













<div class="col-md-4">
<h3>Koelkasten</h3>
{% for device in room.fridges_set.all %}

    <h4 id="vspace">{{ device.name }}</h4>


    {% if device.name == "Koelkast" %}
        <img id="afbeelding"  src='{% static 'images/devices/koelkast.jpg' %}' alt="Koelkast">
    {% endif %}

    {% if device.name == "Diepvriezer" %}
        <img id="afbeelding"  src='{% static 'images/devices/diepvriezer.jpg' %}' alt="Diepvriezer">
    {% endif %}


 <div id="cont1" class="row">
 <button id="knop" type="button"  class="btn btn-sm btn-success"  href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet aan</button>
    <button id="knop" type="button" class="btn btn-sm btn-danger" href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet uit</button>
</div>
{% endfor %}



</div>
</ul>
        <ul>











<div class="col-md-4">
<h3>Batterijen</h3>
{% for device in room.battery_set.all %}

    <h4 id="vspace">{{ device.name }}</h4>

 {% if device.name == "Battery" %}
        <img id="afbeelding"  src='{% static 'images/devices/batterij.jpg' %}' alt="batterij">
    {% endif %}





    <div id="cont1" class="row">
 <button id="knop" type="button"  class="btn btn-sm btn-success"  href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet aan</button>
    <button id="knop" type="button" class="btn btn-sm btn-danger" href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet uit</button>
</div>
{% endfor %}



</div>
</ul>
        <ul>









<div id="dumb" class="row">
<div class="col-md-4">
<h3>Domme Apparaten</h3>
{% for device in room.stupid_devices_set.all %}

    <h4 id="vspace">{{ device.name }}</h4>


{% if device.name == "Oven" %}
        <img id="afbeelding"  src='{% static 'images/devices/oven.jpg' %}' alt="oven">

    {% endif %}



 <div id="cont1" class="row">
 <button id="knop" type="button"  class="btn btn-sm btn-success"  href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet aan</button>
    <button id="knop" type="button" class="btn btn-sm btn-danger" href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet uit</button>
</div>
{% endfor %}

</div>

</div>
</ul>
        <ul>

</div>
        {% endfor %}

    </div>

{% endblock %}








