{% extends "neighbourhood/usertemplate.html" %}
{% load static %}
{% block title %}Slimme-energiewoningen| {{ room.name }}{% endblock %}


{% block topheader %}Dit is mijn  {{ room.name }}{% endblock %}

{% block topheader_content %}Ik hoor bij <a href="{%  url "House" room.id %}">{{ room.name }}</a> {% endblock %}

{% block left_col %}
<div class="col-md-4">
  <h2>Energieverbruik</h2>
  <canvas id="energy_house" width="400" height="400"></canvas>

</div>
    <script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
  {% endblock %}

{% block middle_col %}

    <div class="col-md-4">
        <h2>Optimalisatie</h2>
        <p>Opsomming van alternatieven voor efficiënter gebruik</p>
        <p><a class="btn btn-default" href="#" role="button">Meer details &raquo;</a></p>
    </div>

{% endblock %}


{% block right_col %}
    <div class="col-md-4">
        <h2>Besparing</h2>
        <p>Hier komt een counter die vertelt hoeveel men bespaart door een geoptimaliseerd energiegebruik  </p>
        <p><a class="btn btn-default" href="#" role="button">Meer details &raquo;</a></p>
    </div>
{% endblock %}










<!-- DEVICeS -->

{% block showalldevices %}
<div class="col-md-4">
<h3 >Slimme Apparaten</h3>

{% for device in room.smart_devices_set.all %}

    <h4 id="vspace">{{ device.name }}</h4>







    {% if device.name == "Wasmachine" %}
        <img id="afbeelding"  src='{% static 'images/devices/wasmachine.jpg' %}' alt="Wasmachine">
    {% endif %}
 {% if device.name == "Laadpaal" %}
        <img id="afbeelding"  src='{% static 'images/devices/laadpaal.jpg' %}' alt="Laadpaal">
    {% endif %}







<div id="cont1" class="row">
 <button id="knop" type="button"  class="btn btn-sm btn-success"  href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet aan</button>
    <button id="knop" type="button" class="btn btn-sm btn-danger" href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet uit</button>
</div>
{% endfor %}



</div>
</ul>
        <ul>













<div class="col-md-4">
<h3>Koelkasten</h3>
{% for device in room.fridges_set.all %}

    <h4 id="vspace">{{ device.name }}</h4>


    {% if device.name == "Koelkast" %}
        <img id="afbeelding"  src='{% static 'images/devices/koelkast.jpg' %}' alt="Koelkast">
    {% endif %}

    {% if device.name == "Diepvriezer" %}
        <img id="afbeelding"  src='{% static 'images/devices/diepvriezer.jpg' %}' alt="Diepvriezer">
    {% endif %}


 <div id="cont1" class="row">
 <button id="knop" type="button"  class="btn btn-sm btn-success"  href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet aan</button>
    <button id="knop" type="button" class="btn btn-sm btn-danger" href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet uit</button>
</div>
{% endfor %}



</div>
</ul>
        <ul>











<div class="col-md-4">
<h3>Batterijen</h3>
{% for device in room.battery_set.all %}

    <h4 id="vspace">{{ device.name }}</h4>

 {% if device.name == "Battery" %}
        <img id="afbeelding"  src='{% static 'images/devices/batterij.jpg' %}' alt="batterij">
    {% endif %}





    <div id="cont1" class="row">
 <button id="knop" type="button"  class="btn btn-sm btn-success"  href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet aan</button>
    <button id="knop" type="button" class="btn btn-sm btn-danger" href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet uit</button>
</div>
{% endfor %}



</div>
</ul>
        <ul>









<div class="row">
<div class="col-md-4">
<h3>Domme Apparaten</h3>
{% for device in room.stupid_devices_set.all %}

    <h4 id="vspace">{{ device.name }}</h4>


{% if device.name == "Oven" %}
        <img id="afbeelding"  src='{% static 'images/devices/oven.jpg' %}' alt="oven">

    {% endif %}



 <div id="cont1" class="row">
 <button id="knop" type="button"  class="btn btn-sm btn-success"  href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet aan</button>
    <button id="knop" type="button" class="btn btn-sm btn-danger" href="{% url "status" room.house.ip_address room.id device.ref_id '000' %}">Zet uit</button>
</div>
{% endfor %}

</div>

</div>
</ul>
        <ul>

</div>
            {% endblock %}